<div class="modal-header" data-ng-controller="AuthenticationController">
    <h3 class="modal-title">{{authentication.user.displayName}}</h3>
</div>
<div class="modal-body">
  <ul class="nav navbar-nav navbar-left menuli">

    <li>
      <a href="/#!/articles/list" role="button" aria-expanded="false" ng-click="ok($event)">
          Artículos
      </a>
    </li>
    <li>
      <a href="/#!/banners/list" role="button" aria-expanded="false" ng-click="ok($event)">
        Banners
      </a>
    </li>
    <li>
      <a href="/#!/polls/list" role="button" aria-expanded="false" ng-click="ok($event)">
        Encuestas
      </a>
    </li>
    <li>
      <a href="/#!/settings/home">Editar Home</a>
    </li>
    <li>
      <a href="/#!/settings/profile">Editar Perfil</a>
    </li>
    <li>
      <a href="/#!/settings/password">Cambiar Password</a>
    </li>
    <li>
      <a href="/auth/signout">Salir</a>
    </li>

  </ul>
</div>
