  <a  href="/#!/articulo/{{match.model.slug}}/{{match.model.published_date}}" ng-controller="HeaderController" ng-click="changeSearch()">
      <span bind-html-unsafe="match.model.title | uibTypeaheadHighlight:query">{{match.model.title}}</span>
       , fecha:{{match.model.created | date:'dd-MM-yyyy h:mm a'}}
  </a>
