<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">


		<button class="navbar-toggle toggle-menu menu-right push-body" type="button" ng-click="openAside('left', true)" ng-show="authentication.user">
				<span class="sr-only"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
		</button>

		<a href="/#!/" class="navbar-brand"><img lazy-src="modules/core/img/gazeta-svg/gazeta-ccs-oscuro.svg"></img></a>

	</div>

	<nav class="navbar-collapse collapse navbar-left" collapse="!isCollapsed" role="navigation">

		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown" uib-dropdown>
				<a class="dropdown-toggle"  uib-dropdown-toggle>
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu"  uib-dropdown-menu>
					<li data-ng-show="authentication.user.roles == 'admin'">
						<a href="/#!/settings/home">Editar HOME</a>
					</li>
					<li>
						<a href="/#!/settings/profile">Editar perfil</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Cambiar password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Salir</a>
					</li>
				</ul>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right" data-ng-if="menu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}">
				<a href="/#!/{{item.link}}">
					<span data-ng-bind="item.title"></span>
				</a>
			</li>
		</ul>
	</nav>

			<ul class="nav navbar-nav navbar-collapse collapse navbar-right">

					<li>
					<button class="navbar-toggle toggle-menu menu-right push-body inh" type="button" ng-click="openAside('left', true)" ng-show="authentication.user">
							<span class="sr-only"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
					</button>
						</li>
			</ul>
</div>
