<section class="row" ng-show="!authentication.user">

<h3 class="col-md-12 text-center">REGISTRO</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="image">Image</label>
					<input type="text" id="image" name="image" class="form-control" data-ng-model="credentials.image" placeholder="Image">
				</div>
				<div class="form-group">
					<label for="image">Description</label>
					<input type="text" id="description" name="description" class="form-control" data-ng-model="credentials.meta.description" placeholder="Description">
				</div>
				<div class="form-group">
					<h3>Social Media</h3>
					<label for="meta">Facebook user</label>
					<input type="text" id="facebook" name="facebook" class="form-control" data-ng-model="credentials.meta.facebook" placeholder="Facebook User">
					<label for="image">Twitter user</label>
					<input type="text" id="twitter" name="twitter" class="form-control" data-ng-model="credentials.meta.twitter" placeholder="Twitter User">
					<label for="image">Instagram user</label>
					<input type="text" id="instagram" name="instagram" class="form-control" data-ng-model="credentials.meta.instagram" placeholder="Instagram User">
					<label for="image">Website</label>
					<input type="text" id="website" name="website" class="form-control" data-ng-model="credentials.meta.website" placeholder="Website">
				</div>
				<div class="form-group">
				<label>Roles</label>
				<select ng-model="credentials.roles">
			    <option value="user">User</option>
			    <option value="admin">Admin</option>
			    <option value="editor">Editor</option>
			  </select>
				</div>
				<div class="form-group">
					<label for="level">Roles</label>
					<input type="text" id="roles" name="roles" class="form-control" data-ng-model="credentials.roles" placeholder="Roles" readonly>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>

				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
					<a href="/#!/signin" class="show-signup">Sign in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
