/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/sTdaA6j0Psb920Vjv-mrzH-_kf6ByYO6CLYdB4HQE-Y.woff2') format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/uYECMKoHcO9x1wdmbyHIm3-_kf6ByYO6CLYdB4HQE-Y.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/tnj4SB6DNbdaQnsM8CFqBX-_kf6ByYO6CLYdB4HQE-Y.woff2') format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(.'./fonts/_VYFx-s824kXq_Ul2BHqYH-_kf6ByYO6CLYdB4HQE-Y.woff2') format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/NJ4vxlgWwWbEsv18dAhqnn-_kf6ByYO6CLYdB4HQE-Y.woff2') format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Ks_cVxiCiwUWVsFWFA3Bjn-_kf6ByYO6CLYdB4HQE-Y.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* cyrillic */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url('../fonts/2NBgzUtEeyB-Xtpr9bm1CRw5vVFbIG7DatP53f3SWfE.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url('../fonts/2NBgzUtEeyB-Xtpr9bm1CSVudZg2I_9CBJalMPResNk.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url('../fonts/2NBgzUtEeyB-Xtpr9bm1CRD8Ne_KjP89kA3_zOrHj8E.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'icon-font';
    src:url('../fonts/icon-font.eot?-mchb95');
    src:url('../fonts/icon-font.eot?#iefix-mchb95') format('embedded-opentype'),
        url('../fonts/icon-font.woff?-mchb95') format('woff'),
        url('../fonts/icon-font.ttf?-mchb95') format('truetype'),
        url('../fonts/icon-font.svg?-mchb95#icon-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="sicon-"], [class*=" sicon-"] {
    font-family: 'icon-font';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* v1 */
.sicon-yt:before {content: "\e600";}
.sicon-v:before {content: "\e601";}
.sicon-tw:before {content: "\e602";}
.sicon-st:before {content: "\e603";}
.sicon-rss:before {content: "\e604";}
.sicon-rd:before {content: "\e605";}
.sicon-p:before {content: "\e606";}
.sicon-m:before {content: "\e607";}
.sicon-l:before {content: "\e608";}
.sicon-in:before {content: "\e609";}
.sicon-gh:before {content: "\e60a";}
.sicon-g:before {content: "\e60b";}
.sicon-fl:before {content: "\e60c";}
.sicon-f:before {content: "\e60d";}
.sicon-dr:before {content: "\e60e";}


.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.dn-date-share {
border: 1px solid #333;
padding: 10px;
width: 100%;
min-height: 43px;
}
.dn-head-meta {
display: inline-block;
margin: 0 0 5px 0;

}
.italic{
font-size: 12px;
float: left;
position: relative;
font-style: italic;


}
.dn-head-meta time {

font-family: serif;
font-size: 13px;

}

.dn-share {
position: absolute;
top: 10px;
right: 10px;
}
.dn-share a {
text-decoration: none;
font-size: 2.5rem;
color:#333;
}
.dn-sep {
font-family: 'Arial', sans-serif;
font-size: 5rem;
font-weight: 700;
margin-top: 0.75rem;
margin-bottom: -3rem;
}
.no-sp {
padding-left: 0 !important;
padding-right: 0 !important;
}
.no-rp {

padding-right: 0 !important;
}
.no-lp {
padding-left: 0 !important;
}

.dn-author{
	font-size: 12px;
	float:right;
	position:relative;
	bottom: -2.5rem;
	font-style: italic;
}
.post-title {
margin-top: 1rem;
margin-bottom: 15px;

}
.logo-gz {
    height:100px;
}
.logo-gz-cat {
    max-height:80px;

}
.logo2-gz {
    min-height:55px;
    max-height:100px;

}
.navbar-brand > img {
    height:100%;
}
.date-gz{
    text-align: center;
    margin-top: -1%;
}
.boton-gz{
    background: none;
    padding: 0px 22px;
    letter-spacing: 1px;
    font-size: 18px;
}

.boton-gz-last{
    background: none;
    font-weight: 800;
    padding: 0px 0px;
    letter-spacing: 1px;
    font-size: 18px;
}
.btn-gz-navbar{
    background: none;
}
.category-gz{
    border-top: 1px solid #919191;
    border-bottom: 1px solid #919191;
}

.centering {
        float: none;
        margin: 0 auto;
}


.dn-ticker-gz {
border: 1px solid #A83F23;
border-left: 1px solid #88351F;
background: #A83F23;
padding: 5px 0px 25px 0px;
overflow: hidden;
margin: 20px 0 5px 0;
line-height:30px;
-webkit-box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.4);
}

.gblack {
border-left: 1px solid rgb(34, 34, 34);
border: 1px solid rgb(34, 34, 34) !important;
background: rgb(34, 34, 34);
}

.dn-ticker-gz-inner {
position:absolute;
padding: 0px;
margin: -6px 0;
height: 34px; width: 100%;
}
.dn-title-gz {
  background: #A83F23;
  padding: 8px 0px 7px 0px;
  margin: 20px 0px 5px;
  color: #E1E1E1;
  font-size: 12px;
  text-align: center;
  height: 32px;
  -webkit-box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.4);
}

.dn-ticker{
    padding-left: 0px;
    padding-right: 0px;


}
.titular-gz{
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.dn-titular-share {
border: 1px solid #333;
padding: 10px;

}
.dn-titular{
position: relative;

float:right;
margin-bottom: -5px;

}
.dn-titular a {
text-decoration: none;
font-size: 2.5rem;
color: #333;
}
.dn-read-gz{
    margin-top: 15px;
    background: #e1e1e1;
    -webkit-box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.4);

}
.dn-read-pr{
    margin-top: 15px;
    background: #c2c2c2;
    padding-bottom: 15px;
    -webkit-box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.4);

}
.ban{
  margin-top: 15px;
      float: left;
}
.dn-read-pr h2,
.dn-read-gz h2{
    margin-top: 10px;

}
.dn-read-pr ul li,
.dn-read-gz ul li{
    list-style: none;
    padding-bottom: 10px;

}

.read-list{
    margin: 0;
    padding: 0;
}

.dn-read-time{
    display: inline-block;
    border: solid 1px #ACACAC;
    padding: 5px 10px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;

}
.dn-read-time span {
    display: block;
    text-align: center;
    color: #333;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.dn-read-time .date{
    font-size: 24px;
    line-height: 24px;
}
.dn-top{
    padding: 8px 12px 14px 12px;
    margin-bottom: 5px;
}

.dn-read-content .title{
    font-size: 14px;
    display: block;
    text-transform: uppercase;;
}
.dn-read-content .contenido{

    display: block;
    color: #333;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;

}
.news-gz{

    margin-bottom: 10px;
}
.btn-gz{
    border-radius: 0px!important;
    }

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait) {
.peque{
    padding-top: 12px;

}

 }

.post-gz  {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.markdown-toolbar button{

    padding: 6px;
    background: transparent;
}
.tag-gz-category{
    background: #f1f1f1;
    float: left;
    padding: 8px;
    position: absolute;
    top: 48px;
}

.tag-gz-category a, .tag-gz-category-title a{
    text-decoration: none;
    color:#666;
    font-size: 14px;

}
.tag-gz-category-title{
    background: #f1f1f1;
    float: left;
    padding: 10px;
    margin: 4px 0px 0px 12px;

}
.tag-gz-tag{

    float: left;
    padding: 10px;
    margin: 0px 0px 0px 12px;
    height: 30px;

}
.tag-gz-tags{
    float: left;
}
.tag-gz {
    color:#f1f1f1;
    font-weight: normal;
        display: inline-block;
}
.tag-gz a{
    color:#f1f1f1;

}
.no-mg{
    margin:0;
}
.mg-top{
    margin: 10px 0 0 0!important;

}
.sp{
    margin-left:3px;
}
.no-rd{
    border-radius: 0px;
}
.no-bd{

    border: 0px;
}
.no-bd a{

    color:#d5d5d5;
}
.bd-bt{
    border-bottom: 1px solid #919191;
}
.left{
    clear:left;
}


section {
      -webkit-transition: 350ms linear all;
      -moz-transition: 350ms  linear all;
      -o-transition: 350ms  linear all;
      transition: 350ms  linear all;
}
section .ng-hide,
section .ng-enter,
section .ng-leave.ng-leave-active,
section .ng-enter,
section .ng-leave.ng-leave-active {
  opacity: 0;
}

section .ng-show,
section.ng-enter.ng-enter-active,
section.ng-leave,
section.ng-enter.ng-enter-active,
section.ng-leave {
  opacity: 1;
}

.input-clean{
    background: none;
    border: none;
    font-size: 24px;
}
.dn-line{
    border-bottom: 1px solid #acacac;
}
.contenedor{

    overflow: scroll;
    overflow-y: hidden;
    display:block;
    border:solid 1px;

}
.hero{
    display:block;
    height:100px;
    width: 3800px;
}

.hero-unit {
    display:inline-block;


}

#scrollArea {
    height: 100%;
    overflow: auto;
  }

.delay{
      transition-delay: 0.2s!important;
}
.black{
    color:#000!important;
}
.footer{

background: #B6B6B6;
padding-bottom: 20px;

}
.ui-scrollfix
{

 position: fixed;
 top:10%;
  margin: 0 auto;
  width: 23.9%;
  right: 12%;

}

.wd-gz-op{
    font-size: 24px;
}

.load-circle{
  font-size: 18px;
  position: relative;
  top: 10px;
}
#loading-activo .load-circle {
  width: 34px;
  height: 34px;
  position: relative;
  top:6%;
  left:48%;
  border:  solid 2px transparent;
  border-top-color:  #000;
  border-left-color: #000;
  border-radius: 32px;

  -webkit-animation: loading-activo 400ms linear infinite;
  -moz-animation:    loading-activo 400ms linear infinite;
  -ms-animation:     loading-activo 400ms linear infinite;
  -o-animation:      loading-activo 400ms linear infinite;
  animation:         loading-activo 400ms linear infinite;
}


@-webkit-keyframes loading-activo {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-activo {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-activo {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-activo {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-activo {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
#news_strip {
  width: 100%;
  display: block;
  height: 30px;
  position: relative;
  overflow: hidden;
}

.adjust {
  width:100%;
  padding: 3px;
}

#news_strip a {
  display: inline-block;
  text-decoration: none;
  margin-right: 20px;
  z-index: 1;
  position: absolute;
  top: 0px;
  width: 450px;
  vertical-align: top;
}


#news_strip a span {
  cursor: pointer;
  display: inline-block;
  color: #d5d5d5;
  font-style: italic;
  padding-right: 5px;
  z-index: 1;
}

#news_strip a span.date {
  display: inline-block;
  font-family: serif;
  font-weight: normal;
  color: #222222;
}

#news_strip a:hover span.title {
  text-decoration: underline;

}

/* The shadow DIVs of the sides are decorative and optional, but they add a very nice effect :) */

#news_strip div.shadow{
  position: absolute;
  top: 0px;
  width: 10px;
  height: 100%;
  z-index: 5;
  background: #A83F23;
}

#news_strip div.shadow.left{
  left: -1px;
  width:0px;
  border-left: 1px solid #d5d5d5;
}

#news_strip div.shadow.right{
  right: 0px;
  -webkit-box-shadow: -1px 0px 1px #A83F23;
  -moz-box-shadow: -1px 0px 1px #A83F23;
  box-shadow: -1px 0px 1px #A83F23;
}
.fixed{
  position: fixed;
  top: 31px;
  left: 0px;
  padding: 0;
  z-index: 100;
}

#affix-demo {
    margin-top: 50px;
    height: 1px;
    overflow:auto;
}

#affixMe{
    margin-top: 0px;
    top: 0px!important;
    width: 100%;
    z-index: 1000;

}
#affixMe.affix {
    top: 30px!important;
    left:0;
    padding: 0;
}
#stretch {
    height: 500px;
}
.sidebar{
  margin-top: 20px;
}
 .nav-collapse .dropdown-menu:before,
  .nav-collapse .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .dropdown-menu .divider {
    display: none;
  }
  .nav-collapse .nav > li > .dropdown-menu:before,
  .nav-collapse .nav > li > .dropdown-menu:after {
    display: none;
  }
 .hot-btn:hover {
    font-size: 14px;
    padding-top: 7px!important;
    color:#f2f2f2;
    background: #88351F;

 }
.btn:hover {

  background: #ccc;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(158, 158, 158, 0.59);
  border-right: 1.1em solid rgba(158, 158, 158, 0.59);
  border-bottom: 1.1em solid rgba(158, 158, 158, 0.59);
  border-left: 1.1em solid hsl(0, 0%, 30%);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.fticker-add, .fticker-remove {
  -webkit-transition: 0.3s linear all; /* Chrome */
  transition: 0.3s linear all;
}

.fticker,
.fticker-add.fticker-add-active {
  top: 31px!important;
}

.fticker-remove.fticker-remove-active {
  top: -1px;
}
.lasted{
  position : fixed;
  top : -1px;
  z-index : 1000;
  padding : 0;
  left: 0;
  width: 100%;
}

.statico{
  position: relative;
  top: 0;
  z-index:1;
  left:0;
}

.times{
  color: #A83F23;
  font-size: 14px;
  text-transform: capitalize;
}
.bl{
      border-bottom: 1px solid #9c9c9c;
      padding-bottom: 30px;
      float: left;
}
a:hover, a:focus {
    color: #A83F23;
    text-decoration: none;
}
a:active, a:hover {
    outline: 0;
}
a {
    color: #333;
    text-decoration: none;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
.clear{
  clear:left;
}

#paper{
  margin: 0;
  padding: 0;
}

/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: #c2c2c2;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #c2c2c2 1px 0 6px 1px;
  -ms-box-shadow: #c2c2c2 1px 0 6px 1px;
  -webkit-box-shadow: #c2c2c2 1px 0 6px 1px;
  box-shadow: #c2c2c2 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #c2c2c2;
  border-left-color: #c2c2c2;
  border-radius: 50%;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
canvas{
  width:100%;
  height:31px;
  position:relative;
  float:right;
}

.navbar-toggle {
   margin-bottom: 0px;
}

.inh{
  display: inherit;
}
.menumo .modal-dialog{
  background-color: #c3c3c3;
}
.menumo div{
  background-color: #c3c3c3;
}
.menuli{
  margin-top: 20px;
}
.menuli li{
  float: none;
}
.menuli li a{
  font-size: 20px;
  color: #333;
  float: none;
}
.menuli li a:hover{
  font-size: 20px;
  background-color: #c3c3c3;
  float: none;
}
.wrap {
  display:table;width:100%;margin:0 auto;
}
.sidebar{
 float:none;
 display:table-cell;
 vertical-align:top;
}
.sticky{
  position: -moz-sticky;
  position: -webkit-sticky;
  position: sticky;
}
.sticky:before,
.sticky:after {
    content: '';
    display: table;
}
.navbar-inverse{
  -webkit-box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.4);
}
.mini{
  box-sizing: border-box;
  background-color: #a83f23;
  bottom: 0;
  left: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  width: 200px;
  z-index: 100;
}
.mi{
  width: 35px;
  padding-bottom: 0;
  padding-left: 2px;
  padding-right: 0;
}
.bclose{
  float: right;
  color: #f9f9f9;
  position: static;
  font-size: 22px;
  margin-right: 5px;
  margin-top: 4px;
  margin-bottom: 2px;
}
.bopen{
  font-size:18px;
  width: 30px;
  padding-bottom: 0;
  padding-left: 8px;
  color: #f9f9f9;
}
.btitle{
    font-size: 12px;
    color: #e5e5e5;
}
youtube{
  width: 100%;
}
.bigg-add, .bigg-remove{
  -webkit-transition: 0.3s linear all; /* Chrome */
   transition: 0.3s linear all;
}

.bigg,
.bigg-add.bigg-add-active {
  width: 600px!important;
}

.bigg-remove.bigg-remove-active {
    width: 230px;
}
.sideuser{
  font-size: 28px;
}

.borCorner{
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 40px;
    width: 100%;
    height: 100%;
}
.tv .modal-dialog .modal-content {
  margin-top: 35%;
}
