  <section data-ng-controller="PollsController" ng-init="inicializar()">
    <div class="page-header">
      <h1>Nueva Encuesta</h1>
    </div>
    <div class="col-md-12">
      <form class="form-horizontal" data-ng-submit="create()" novalidate>
        <fieldset>
          <div class="form-group">
            <label class="control-label" for="question">Pregunta</label>
            <div class="controls">
              <input type="text" data-ng-model="question" id="question" class="form-control" placeholder="Pregunta" required>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="name">Opciones</label>
            <div class="controls">
              <input type="text" data-ng-model="dataOpt" class="form-control" placeholder="Opciones" required>
              <div>
                <button type="button" ng-click="addOpt()" style="margin-top:15px;">Add</button>
              </div>
              <div style="margin-top:15px;" ng-repeat="opc in options">{{opc.text}} <span class="glyphicon glyphicon-remove-circle" ng-click="removeOpt($index)"></span></div>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-default">
          </div>
          <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
          </div>
        </fieldset>
      </form>
    </div>
  </section>
