  <section data-ng-controller="PollsController" data-ng-init="find()">

      <div class="page-header">
        <h1>Encuestas</h1>
          <nav aria-label="...">
            <ul class="pager">
              <li class="previous"><a href="/#!/polls/create">Nueva Encuesta</a></li>
            </ul>
          </nav>
      </div>

      <div class="list-group">
        <div data-ng-repeat="poll in polls track by $index" data-ng-href="#!/polls/{{poll._id}}" class="list-group-item">
          <a class="btn btn-primary pull-right" href="/#!/polls/{{poll._id}}/edit" data-ng-show="(authentication.user.id == article.user.id) || (authentication.user.roles[0]=='admin')">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn btn-warning pull-right" ng-click='remove(poll)' data-ng-show="(authentication.user.id == poll.user.id) || (authentication.user.roles[0]=='admin')">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
          <small class="list-group-item-text">
            Posted on
          <span data-ng-bind="poll.created_date | date:'medium'"></span>
            by
          <span data-ng-bind="poll.user.displayName"></span>
          </small>
          <h4 class="list-group-item-heading" data-ng-bind="poll.question"></h4>
          <ul>
            <li ng-repeat="opt in poll.options">
              {{opt.text}}
            </li>
          </ul>
        </div>
      </div>
      <div class="alert alert-warning text-center" data-ng-hide="!polls.$resolved || polls.length">
        No Polls yet, why don't you <a href="/#!/polls/create">create one</a>?
      </div>

  </section>
