<section data-ng-controller="PollsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="poll.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == poll.user._id))">
		<a class="btn btn-primary" href="/#!/polls/{{poll._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="poll.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="poll.user.displayName"></span>
		</em>
	</small>
	<h2>{{poll.question}}</h2>
	<p ng-repeat="res in poll.choices">{{res.text}}</p>
</section>
