<section>
<div class="row">

		<div class="col-md-12">
			<h3>HOME</h3>
			<div class="col-md-12 centered">
				<h4>Widget Categoria</h4>
				<span ng-repeat='cat in conf.category'></span>
			</div>
		</div>

</div>
</section>
