<section data-ng-controller="ArticlesController" data-ng-init="inicializar()" ng-show="cargado && authentication.user">

	<h1>Nuevo Artículo</h1>

	<div class="col-md-12" no-sp>
		<div class="col-xs-12 col-md-6">
			<form name="articleForm" class="form-horizontal" data-ng-submit="create()" novalidate>
				<fieldset>

					<div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
						<label class="control-label" for="title">Título</label>
						<div class="controls">
							<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Título" required>
						</div>
					</div>

				<div class="form-group">
					<label class="control-label" for="headlines">Encabezado</label>
					<div class="controls">
						<input name="headlines" data-ng-model="headlines" id="headlines" class="form-control" cols="30" rows="10" placeholder="Encabezado" required>
					</div>
				</div>

				<div class="form-group" for="content">
					<label class="control-label">Contenido:</label>
					<text-angular ng-model="content" ng-maxlength='8000'></text-angular>
				</div>

				<a class="btn btn-success" data-ng-click="galeria();">
					Galería	<i class="glyphicon glyphicon-picture"></i>
				</a>

				<upload-file></upload-file>
					<div class="form-group">
						<label class="control-label" for="Image Des">Descripción de Imagen</label>
							<div class="controls">
								<input name="imageDescription" data-ng-model="images.description" id="imageDescription" class="form-control" cols="30" rows="10" placeholder="Descripción de Imagen" required>
							</div>
								<label class="control-label" for="Image Des">Autor de Imagen</label>
							<div class="controls">
								<input name="imageDescription" data-ng-model="images.author" id="imageDescription" class="form-control" cols="30" rows="10" placeholder="Autor de Imagen" required>
							</div>
					</div>

				<div class="form-group">
					<label>
						Categoría
						<div>
							<select ng-model="category"
							ng-options="opt as opt.label for opt in options">
							</select>
						</div>
					</label>
				</div>

				<div class="form-group">
					<label class="control-label" for="tags">Tags</label>
						<div class="controls">
							<tags
							typeahead-options="typeaheadOpts"
							data-options="{addable: true, classes: {white: 'black', red: 'red'}}"
							ng-src="s as s for s in states"
							data-model="tags">
							</tags>
						</div>
				</div>

				<div class="checkbox">
					<label>
						Fuente:
						<input type="text" name="meta-source" data-ng-model="meta.source" value="" id="meta-source">
					</label>
				</div>

				<div class="checkbox">
					<label>
						Prioridad del Artículo
						<div>
							<select ng-model="meta.important" id="meta-important" convert-to-number>
							<option value='0'>Nivel 0</option> <!-- not selected / blank option -->
							<option value='1'>Nivel 1</option> <!-- interpolation -->
							<option value='2'>Nivel 2</option>
							</select>
						</div>
					</label>
				</div>

				<br>

				<div class="checkbox" data-ng-show="authentication.user.roles[0]=='admin'">
					<label>
					PUBLICAR NOTICIA (No seleccione si quiere guardar el borrador)
						<div>
							<select ng-model="status" convert-to-number>
							<option value="0">Borrador</option> <!-- not selected / blank option -->
							<option value="1">Sin Revisar</option> <!-- interpolation -->
							<option value="2">Visible</option> <!-- Visible pero sin publicar -->
							<option value="3">Publicado</option>
							</select>
						</div>
					</label>
				</div>

				<br>

				<div class="form-group">
					<input type="submit" value="Save" class="btn btn-success">
				</div>

				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>

			</div>

				<div class="col-xs-12 col-md-6">
					<h3>Preview</h3>
					<div class="col-sm-4 col-md-4 col-xs-4 no-sp">
						<div class="dn-sep">“</div>
				</div>

				<div class="col-sm-8 col-md-8 col-xs-8 no-sp">
					<div class="dn-author ng-binding">Autor: {{authentication.user.displayName}} </div>
				</div>

				<div class="clearfix"></div>
				<div class="col-sm-12 col-md-12 col-xs-12 no-sp">
					<div class="dn-head-meta dn-date-share">
					<time data-ng-bind="created | date:'dd/MM/yyyy h:mma'"></time>
					</div>

					<div class="dn-share">
						<a class="sicon-tw" href="http://twitter.com/share?text=Odamae%20-%20free%20contact%20form%20service%20from%20Phantomus&amp;url=http://dayandnight-demo.phantomus.com/odamae-free-contact-form-service-from-phantomus/" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"></a>
						<a class="sicon-f" href="https://www.facebook.com/sharer/sharer.php?u=http://dayandnight-demo.phantomus.com/odamae-free-contact-form-service-from-phantomus/" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
						<a class="sicon-g" href="https://plus.google.com/share?url=http://dayandnight-demo.phantomus.com/odamae-free-contact-form-service-from-phantomus/" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"></a>
					</div>

					<div>

					<img lazy-src="{{images.url_720}}" class='titular-gz no-mg'>
					<h5 class="tag-gz-category no-mg">
					<a>{{category.label}}</a>
					</h5>
					</img>

					<h1 data-ng-bind="title"></h1>
					<h4 data-ng-bind="headlines"></h4>
					<div ta-bind ng-model="content"></div>

					<div class="col-xs-12 col-md-12 no-sp">
						<h5 class="tag-gz-tags">Tags:
						<a class="label label-default tag-gz sp" ng-repeat='tag in tags'> {{tag.label}}</a>
						</h5>
					</div>

					</div>
				</div>

				</fieldset>
			</form>
		</div>
</section>
