<section data-ng-controller="ArticlesController" data-ng-init="findOne()" >

	<h1>Editar Artículo</h1>

		<div class="col-md-12">
			<div class="col-xs-12 col-md-6">
			<form name="articleForm" class="form-horizontal" data-ng-submit="update(articleForm.$valid)" novalidate>
				<fieldset>
					<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.title.$invalid}">
						<label class="control-label" for="title">Título</label>
							<div class="controls">
								<input name="title" type="text" data-ng-model="article.title" id="title" class="form-control" placeholder="Título" required>
							</div>
							<div ng-show="submitted && articleForm.title.$invalid" class="help-block">
								<p ng-show="articleForm.title.$error.required" class="text-danger">Título es requerido</p>
							</div>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.headlines.$invalid}">
						<label class="control-label" for="headlines">Encabezado</label>
							<div class="controls">
								<input name="headlines" type="text" data-ng-model="article.headlines" id="headlines" class="form-control" placeholder="Encabezado" required>
							</div>
							<div ng-show="submitted && articleForm.headlines.$invalid" class="help-block">
								<p ng-show="articleForm.title.$error.required" class="text-danger">Encabezado es requerido</p>
							</div>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : submitted && articleForm.content.$invalid}">
						<label class="control-label" for="content">Contenido</label>
						<text-angular ng-model="article.content" ng-maxlength=8000></text-angular>
							<div ng-show="submitted && articleForm.content.$invalid" class="help-block">
								<p ng-show="articleForm.content.$error.required" class="text-danger">Contenido es requerido</p>
							</div>
					</div>

					<br>

					<a class="btn btn-success" data-ng-click="galeria();">
						<i class="glyphicon glyphicon-picture"></i> Galería
					</a>

			<upload-file></upload-file>
				<div class="form-group">
					<label class="control-label" for="Image Des">Descripción de Imagen</label>
						<div class="controls">
							<input name="imageDescription" data-ng-model="article.images.description" id="imageDescription" class="form-control" cols="30" rows="10" placeholder="Descripción de Imagen" required>
						</div>
					<label class="control-label" for="Image Des">Autor de Imagen</label>
						<div class="controls">
							<input name="imageDescription" data-ng-model="article.images.author" id="imageAuthor" class="form-control" cols="30" rows="10" placeholder="Autor de Imagen" required>
						</div>
				</div>

				<div class="form-group">
					<label>
						Categoría
						<div>
							<select ng-model="category"
							ng-options="opt as opt.label for opt in options">
							</select>
						</div>
					</label>
				</div>

				<div class="form-group">
					<label class="control-label" for="tags">Tags</label>
						<div class="controls">
							<tags
							typeahead-options="typeaheadOpts"
							data-options="{addable: true, classes: {white: 'black', red: 'red'}}"
							ng-src="s as s for s in states"
							data-model="article.tags" name="tags" id="tags"></tags>
						</div>
				</div>

				<div class="checkbox">
					<label>
						Fuente:
						<input type="text" name="meta-source" data-ng-model="article.meta.source" value="" id="meta-source">
					</label>
				</div>

				<div class="checkbox">
					<label>
						Prioridad del Artículo
						<div>
							<select ng-model="article.meta.important" id="meta-important" convert-to-number>
							<option value='0'>Nivel 0</option> <!-- not selected / blank option -->
							<option value='1'>Nivel 1</option> <!-- interpolation -->
							<option value='2'>Nivel 2</option>
							</select>
						</div>
					</label>
				</div>

				<br>

				<div class="checkbox" data-ng-show="authentication.user.roles[0]=='admin'">
					<label>
						PUBLICAR NOTICIA (No seleccione si quiere guardar el borrador)
						<div>
							<select ng-model="article.status" convert-to-number>
							<option value="0">Borrador</option> <!-- not selected / blank option -->
							<option value="1">Sin Revisar</option> <!-- interpolation -->
							<option value="2">Visible</option> <!-- Visible pero sin publicar -->
							<option value="3">Publicado</option>
							</select>
						</div>
					</label>
				</div>

				<br>

				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-primary">
						<a class="btn btn-danger" data-ng-show="(authentication.user._id == article.user._id) || (authentication.user.roles[0]=='admin')" data-ng-click="remove();">
							<i class="glyphicon glyphicon-trash"></i>
						</a>
				</div>

				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>

			</div>
			<div class="col-xs-12 col-md-6">
				<h3>Preview</h3>
					<box article='article' tipo='3'></box>
			</div>
</section>
