  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Galley Cloud</h4>
  </div>

  <div class="modal-body" >

    <input type="text" ng-model="query"> <button type="button" ng-click="buscar(query)">buscar</button>
      <h2>Tags</h2>
    <div class="row">
      <span ng-repeat="tag in tags"><a ng-click="buscar(tag,true)" href=""> {{tag}} </a></span>
    </div>

    <h2>Images</h2>
      <div class="row">
        <div class="col-md-3" ng-repeat="image in imagenes">
          <img ng-click="submit(image)"  class="col-md-12" ng-src="https://res.cloudinary.com/akolor/image/upload/c_thumb,h_407,q_80,w_720/v{{image.version}}/{{image.public_id}}.jpg" alt="{{image.public_id}}" />
          <h5>{{image.public_id}}</h5>
          <span ng-repeat="tag in image.tags">{{tag}}</span>
        </div>
      </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    <button type="button" class="btn btn-primary"  ng-click="buscar('',false,'next')">More</button>
  </div>
