	<section data-ng-controller="ArticlesController" data-ng-init="findT()">

		<div class="page-header">
			<h1>Artículos</h1>
				<nav aria-label="...">
					<ul class="pager">
						<li class="previous"><a href="/#!/articles/create">Nuevo Artículo</a></li>
					</ul>
				</nav>
		</div>

	<div class="list-group">
		<uib-tabset active="activeJustified" justified="true">
			<uib-tab index="0" heading="Borrador" ng-click = "findT(0)"></uib-tab>
			<uib-tab index="1" heading="Revisar" ng-click = "findT(1)"></uib-tab>
			<uib-tab index="2" heading="Visible" ng-click = "findT(2)"></uib-tab>
			<uib-tab index="3" heading="Publicado" ng-click = "findT(3)"></uib-tab>
		</uib-tabset>

		<div data-ng-repeat="article in articles" data-ng-href="#!/articles/{{article.slug}}/{{article.published_date}}" class="list-group-item"  ng-show="cargado">

			<a data-ng-href="#!/articles/{{article.slug}}/{{article.published_date}}">
				<small class="list-group-item-text">
					Posted on
					<span data-ng-bind="article.published_date | date:'mediumDate'"></span>
					by
					<span data-ng-bind="article.user.displayName"></span>
					date
					<span am-="article.published_date "></span>
				</small>
			</a>

			<a class="btn btn-primary pull-right" href="/#!/articles/{{article.slug}}/{{article.published_date}}/edit" data-ng-show="(authentication.user.id == article.user.id) || (authentication.user.roles[0]=='admin')">
				<i class="glyphicon glyphicon-edit"></i>
			</a>

			<a class="btn btn-warning pull-right" ng-click='remove(article)' data-ng-show="(authentication.user.id == article.user.id) || (authentication.user.roles[0]=='admin')">
				<i class="glyphicon glyphicon-trash"></i>
			</a>

			<div class="row">
				<div class="col-md-7">

					<a class="btn btn-primary pull-right" ng-click="tooltipShow($index)" ngclipboard data-clipboard-text="{{article._id}}">
						<i class="glyphicon glyphicon-copy"></i>
					</a>
					<a data-ng-href="#!/articles/{{article.slug}}/{{article.published_date}}">
						<h4 class="list-group-item-heading" data-ng-bind="article._id"></h4>
						<div uib-tooltip="Copied!" tooltip-is-open="article.tooltipIsOpen" tooltip-placement="bottom"></div>
						<h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
						<h5 class="list-group-item-heading" data-ng-bind="article.headlines"></h5>
						<p class="list-group-item-text" ng-bind-html="article.content | limitTo:30"></p>
						<p class="list-group-item-text">Categoría: {{options[article.category].label}}</p>
						<p class="list-group-item-text">Artículo Importante: {{article.meta.important}}</p>
						<p class="list-group-item-text" data-ng-repeat="tags in article.tags">#{{tags.label}}</p>
					</a>

				</div>

				<div class="col-md-4">
					<img class="col-xs-12 col-md-12" lazy-src="{{article.images.thumb_380}}" alt="" />
				</div>

			</div>
		</div>
	</div>

		<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
			No articles yet, why don't you <a href="/#!/articles/create">create one</a>?
		</div>
	</section>
