<!-- Image input start -->
<div class="row" nv-file-drop="" uploader="uploader" style="padding:10px">

  <!-- Close loaded show end -->
  <!-- Image Image loader system -->
  <div>

    <div class="col-md-3" ng-show="!img.url">

        <h3>Select file</h3>

        <div ng-show="uploader.isHTML5">
            <!-- 3. nv-file-over uploader="link" over-class="className" -->
            <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                Drop File Here
            </div>

        </div>

        <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
        <input type="file" nv-file-select="" uploader="uploader"/><br/>

    </div>

    <!-- Image table viewer -->
    <div class="col-md-9" style="margin-bottom: 40px">
        <h2>Uploads Image</h2>

          <table class="table">
              <thead>
                  <tr>
                      <th width="50%">Name</th>
                      <th ng-show="uploader.isHTML5">Size</th>
                      <th ng-show="uploader.isHTML5">Progress</th>

                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="item in uploader.queue">
                      <td>
                          <strong>{{ item.file.name }}</strong>
                          <!-- Image preview -->
                          <!--auto height-->
                          <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                          <!--auto width-->
                          <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                          <!--fixed width and height -->
                          <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                      </td>
                      <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                      <td ng-show="uploader.isHTML5">
                          <div class="progress" style="margin-bottom: 0;">
                              <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                          </div>
                      </td>

                  </tr>
              </tbody>
          </table>
          <input type="text" ng-model="img.url" ng-show="img.url"><button ng-click="submit()" ng-show="img.url">OK</button>
        </div>
        <!-- Image table viewer -->
     </div>
     <!-- Image Image loader system end -->
</div>
<!-- Image input start -->
