<section data-ng-controller="ArticlesController" data-ng-init="findOne()" ng-show="cargado">
<div class="row">

		<div class="pull-right" data-ng-show="(authentication.user._id == article.user._id) || (authentication.user.roles[0]=='admin')">
				<a class="btn btn-primary" ng-href="/#!/articles/{{article.slug}}/{{article.published_date}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-danger" data-ng-click="remove();">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
		</div>
	<div class="col-xs-12 col-md-11 centering">
			<div class="col-xs-12 col-md-8">
				<box article="article" tipo="3"></box>
			</div>
		<div class="col-xs-12 col-sm-12 col-md-4 no-sp" >

			<div class="col-xs-12 col-sm-12 col-md-12 dn-read-gz">

					<h4 class="col-xs-12 col-sm-12 col-md-12 bd-bt">ARTÍCULOS RELACIONADOS</h4>

				<box article="article" tipo="2"></box>
				<box article="article" tipo="2"></box>
				<box article="article" tipo="2"></box>
				<box article="article" tipo="2"></box>

			</div>

					<newsletter></newsletter>
					<mostread></mostread>

		</div>
	</div>
</section>
