  <section data-ng-controller="BannersController" ng-init="findOne()">
    <div class="page-header">
      <h1>Edit Banner</h1>
    </div>

    <div class="col-md-12">
      <form class="form-horizontal" data-ng-submit="update()" novalidate>
        <fieldset>
          <h2>Información Cliente</h2>
          <div class="form-group">
            <label class="control-label" for="name">Nombre Cliente</label>
              <div class="controls">
                <input type="text" data-ng-model="client.name" id="client-name" class="form-control" placeholder="Nombre Cliente" required>
              </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="name">Contacto</label>
            <div class="controls">
            <input type="text" data-ng-model="client.info.contact" id="client-contact" class="form-control" placeholder="Contacto">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="name">Email</label>
            <div class="controls">
            <input type="email" data-ng-model="client.info.email" id="client-email" class="form-control" placeholder="Email">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="name">Teléfono</label>
            <div class="controls">
              <input type="text" data-ng-model="client.info.phone" id="client-contact-phone" class="form-control" placeholder="Teléfono">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="name">Dirección</label>
            <div class="controls">
              <input type="text" data-ng-model="client.info.address" id="client-address" class="form-control" placeholder="Dirección">
            </div>
          </div>


          <div class="form-group">
            <label class="control-label" for="name">Plan</label>
            <div>
              <select ng-model="client.plan">
                <option value="0">Light</option>
                <option value="1">Standard</option>
                <option value="2">Platinum</option>
                <option value="3">Premium</option>
              </select>
            </div>
          </div>

          <h2>Banners</h2>

          <nav aria-label="...">
            <ul class="pager">
              <li class="previous"><a ng-click='newBanner()'>Agregar Banner</a></li>
            </ul>
          </nav>

        <div class=" borCorner col-md-12" style="margin-top:15px;" ng-repeat="banner in banners">
          <div class="pull-right">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click='removeBanner(banner)'></span>
          </div>

          <div class="form-group">
            <label class="control-label" for="name">Nombre</label>
            <div class="controls">
              <input type="text" data-ng-model="banner.name" id="name" class="form-control" placeholder="Nombre" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="name">Fecha</label>
            <div class="controls">
              <input type="date" data-ng-model="banner.expires" id="name" class="form-control" placeholder="Fecha" required>
            </div>
          </div>

          <div class="form-group">

            <label class="control-label" for="image-type">Tipo</label>
            <div>
              <select ng-model="banner.image.type">
                <option value="Code">Código</option>
                <option value="Link">Link</option>
              </select>
            </div>

            <label class="control-label" for="format">Formato</label>
            <div>
              <select ng-model="banner.format">
                <option value="0">300x250</option>
                <option value="1">336x280</option>
                <option value="2">728x90</option>
                <option value="3">300x600</option>
                <option value="4">320x100</option>
              </select>
            </div>

          <label class="control-label" for="image">Status</label>
            <div class="checkbox">
              <select ng-model="banner.status" convert-to-number>
                <option value="0">Offline</option>
                <option value="1">Online</option>
              </select>
            </div>

            <upload-file tipo='banner' current='$index' file='banner.image.banner'></upload-file>

            <img lazy-src="{{banner.image.banner}}" class="img-responsive">

            <div>
              <a class="btn btn-success" style="margin-top:15px;" data-ng-click="galeria($index);">
                Galería	<i class="glyphicon glyphicon-picture"></i>
              </a>
            </div>

          </div>

        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-default" style="margin-top:15px; margin-left:20px;">
        </div>

          <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
          </div>

        </fieldset>
      </form>
    </div>
  </section>
