  <section data-ng-controller="BannersController" data-ng-init="find()">
    <div class="page-header">
      <h1>Banners</h1>
      <nav aria-label="...">
        <ul class="pager">
          <li class="previous"><a href="/#!/banners/create">Nuevo Banner</a></li>
        </ul>
      </nav>
    </div>
      
      <div data-ng-repeat="client in clients" data-ng-href="#!/banners/{{client._id}}" class="list-group-item">
        <a class="btn btn-primary pull-right" href="/#!/banners/{{client._id}}/edit" data-ng-show="(authentication.user)">
          <i class="glyphicon glyphicon-edit"></i>
        </a>

        <a class="btn btn-warning pull-right" ng-click='remove(client)' data-ng-show="(authentication.user.roles[0]=='admin')">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
        <h4 class="list-group-item-heading">Nombre: {{client.name}}</h4>
      </div>

    <div class="alert alert-warning text-center" data-ng-hide="!clients.$resolved || clients.length">
      No Banners yet, why don't you <a href="/#!/banners/create">create one</a>?
    </div>
  </section>
