<section data-ng-controller="BannersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="client.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == banner.user._id))">
		<a class="btn btn-primary" href="/#!/banners/{{client._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<div class="clo-md-12" ng-repeat="banner in banners">
			<p data-ng-bind="banner.name"></p>
			<img lazy-src="{{banner.image.banner}}" />
		</div>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>

	</small>
</section>
