<article ng-if="$ctrl.tipo==1">

									<div class="col-sm-4 col-md-4 col-xs-4 no-sp">
		                	<div class="dn-sep">“</div>
		            	</div>
		            	<div class="col-sm-8 col-md-8 col-xs-8 no-sp">
		                	<div class="dn-author" >Autor: @<a ng-href="#!/{{::$ctrl.article.user.username}}">{{::$ctrl.article.user.username}}</a> </div>
		           		</div>

					<div class="col-sm-12 col-md-12 col-xs-12 no-sp">
						<div class="dn-head-meta dn-date-share">
							<p class="no-mg">
								<a data-ng-href="#!/noticias/category/{{::$ctrl.article.category}}">- {{::option[$ctrl.article.category].label}} -
								</a>
								<time class="times" am-time-ago="$ctrl.article.published_date"></time>
							</p>
						</div>
						<div class="dn-share">
							<a class="sicon-tw" href="https://twitter.com/share?text={{::$ctrl.article.title}};url=https://www.gazetadecaracas.com/#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"></a>
							<a class="sicon-f" href="https://www.facebook.com/sharer/sharer.php?u=https://www.gazetadecaracas.com/#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
							<a class="sicon-g" href="https://plus.google.com/share?url=https://www.gazetadecaracas.com/#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"></a>
		        </div>

					<a data-ng-href="#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}">
						<img class='titular-gz no-mg' ng-if="$ctrl.article.images.url_720" lazy-src="{{::$ctrl.article.images.url_720}}" animate-visible="true" animate-speed="0.5s"></img>
					</a>

					<a class="post-gz" data-ng-href="#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}">
						<h2 class="post-title" data-ng-bind="$ctrl.article.title"></h2>
					</a>

					<div submit-required="true" ng-bind-html='($ctrl.article.resume | limitTo: 400)'></div>

					<div class="col-xs-12 col-md-12 no-sp">
						<span class="label label-default tag-gz sp" ng-repeat='tag in $ctrl.article.tags track by $index'>
							<a data-ng-href="#!/{{::tag.label}}">{{::tag.label}}
							</a>
						</span>

					</div>

</article>
<article  ng-if="$ctrl.tipo==2">

									<div class="col-sm-4 col-md-4 col-xs-4 no-sp">
		                	<div class="dn-sep">“</div>
		            	</div>
		            	<div class="col-sm-8 col-md-8 col-xs-8 no-sp">
		                	<div class="dn-author" style="top:0;">Autor: @<a ng-href="#!/{{::$ctrl.article.user.username}}">{{::$ctrl.article.user.username}}</a> </div>
		           		</div>

					<div class="col-sm-12 col-md-12 col-xs-12 no-sp">
						<div class="dn-head-meta dn-date-share">
							<p class="no-mg">
								<a data-ng-href="#!/noticias/category/{{::$ctrl.article.category}}">- {{::option[$ctrl.article.category].label}} -
								</a>
								<time class="times" am-time-ago="$ctrl.article.published_date"></time>
							</p>
						</div>

						<div class="dn-share">
							<a class="sicon-tw" href="https://twitter.com/share?text={{::$ctrl.article.title}};url=https://www.gazetadecaracas.com/#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"></a>
							<a class="sicon-f" href="https://www.facebook.com/sharer/sharer.php?u=https://www.gazetadecaracas.com/#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
							<a class="sicon-g" href="https://plus.google.com/share?url=https://www.gazetadecaracas.com/#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"></a>
		        </div>


					<a data-ng-href="#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}">
						<img class='titular-gz no-mg' ng-if="$ctrl.article.images.thumb_380" lazy-src="{{::$ctrl.article.images.thumb_380}}" animate-visible="true" animate-speed="0.5s"></img>
					</a>

					<a class="post-gz" data-ng-href="#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}">
						<h4 class="post-title" data-ng-bind="$ctrl.article.title"></h4>
					</a>

</article>
<article  ng-if="$ctrl.tipo==3">

						<div class="col-sm-4 col-md-4 col-xs-4 no-sp">
		                	<div class="dn-sep">“</div>
		            	</div>
		            	<div class="col-sm-8 col-md-8 col-xs-8 no-sp">
		                	<div class="dn-author" >Autor: @<a ng-href="#!/{{::$ctrl.article.user.username}}">{{::$ctrl.article.user.username}}</a> </div>
		           		</div>

					<div class="col-sm-12 col-md-12 col-xs-12 no-sp">
						<div class="dn-head-meta dn-date-share">
							<p class="no-mg">
								<a data-ng-href="#!/noticias/category/{{::$ctrl.article.category}}">- {{::option[$ctrl.article.category].label}} -
								</a>
								<time class="times" am-time-ago="$ctrl.article.published_date"></time>
							</p>
						</div>

						<div class="dn-share">
							<a class="sicon-tw" href="https://twitter.com/share?text={{::$ctrl.article.title}};url=https://www.gazetadecaracas.com/#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"></a>
							<a class="sicon-f" href="https://www.facebook.com/sharer/sharer.php?u=https://www.gazetadecaracas.com/#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
							<a class="sicon-g" href="https://plus.google.com/share?url=https://www.gazetadecaracas.com/#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"></a>
		        </div>

						<a class="post-gz" data-ng-href="#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}">
							<h1 class="post-title" data-ng-bind="$ctrl.article.title"></h1>
						</a>

					<a data-ng-href="#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}">
						<img class='titular-gz no-mg' ng-if="$ctrl.article.images.url_720" lazy-src="{{::$ctrl.article.images.url_720}}" animate-visible="true" animate-speed="0.5s">
						</img>
					</a>


					<a class="post-gz" data-ng-href="#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}">
						<h2 class="post-title" data-ng-bind="$ctrl.article.headlines"></h2>
					</a>


					<div ng-bind-html="$ctrl.article.content"></div>


					<div class="col-xs-12 col-md-12 no-sp">

						<span class="label label-default tag-gz sp" ng-repeat='tag in $ctrl.article.tags track by $index'>
							<a data-ng-href="#!/{{::tag.label}}">{{::tag.label}}
							</a>
						</span>

					</div>


</article>

<article ng-if="$ctrl.tipo==4" >
							<a data-ng-href="#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}">
								<img class='titular-gz' ng-if="$ctrl.article.images.url_1080" lazy-src="{{::$ctrl.article.images.url_1080}}" animate-visible="true" animate-speed="0.5s">
								</img>
							</a>

							<div class="col-sm-4 col-md-4 col-xs-4 no-sp">

			            	</div>
			            	<div class="col-sm-8 col-md-8 col-xs-8 no-sp">

			           		</div>

						<div class="col-sm-12 col-md-12 col-xs-12 no-sp">

							<div class="col-xs-12 col-sm-6 col-md-6 no-sp">
								<div class="dn-head-meta dn-date-share">
									<p class="no-mg">
										<a data-ng-href="#!/noticias/category/{{::$ctrl.article.category}}">- {{::option[$ctrl.article.category].label}} -
										</a>
										<time class="times" am-time-ago="$ctrl.article.published_date"></time>
									</p>
								</div>
								<div class="dn-share">
	                  <a class="sicon-tw" href="https://twitter.com/share?text={{::$ctrl.article.title}};url=https://www.gazetadecaracas.com/#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"></a>
	                  <a class="sicon-f" href="https://www.facebook.com/sharer/sharer.php?u=https://www.gazetadecaracas.com/#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
	                  <a class="sicon-g" href="https://plus.google.com/share?url=https://www.gazetadecaracas.com/#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"></a>
	      				</div>
			        </div>
							<div class="col-xs-12 col-sm-6 col-md-6">
								<span class="tag-gz-tag">
										<span class="label label-default tag-gz sp" ng-repeat='tag in $ctrl.article.tags track by $index'>
											<a data-ng-href="#!/{{::tag.label}}">{{::tag.label}}</a>
										</span>
								</span>
							</div>

			            </div><div class="clearfix"></div>

						<a class='post-gz' data-ng-href="#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}"><h2 class="post-title">{{::$ctrl.article.title}}</h2>

						<p class="col-xs-12 col-md-12 post-content no-sp" ><div  submit-required="true" ng-bind-html="$ctrl.article.resume | limitTo: 400"></div></p></a>

</article>

<article  ng-if="$ctrl.tipo==5">
					<div class="col-sm-4 col-md-4 col-xs-4 no-sp">
										<div class="dn-sep">“</div>
					</div>
					<div class="col-sm-8 col-md-8 col-xs-8 no-sp">
										<div class="dn-author" >Autor: @<a ng-href="#!/{{::$ctrl.article.user.username}}">{{::$ctrl.article.user.username}}</a> </div>
					</div>

					<div class="col-sm-12 col-md-12 col-xs-12 no-sp">
							<div class="dn-head-meta dn-date-share">
								<p class="no-mg">
									<a data-ng-href="#!/noticias/category/{{::$ctrl.article.category}}">- {{::option[$ctrl.article.category].label}} -
									</a>
									<time class="times" am-time-ago="$ctrl.article.published_date"></time>
								</p>
							</div>

							<div class="dn-share">
								<a class="sicon-tw" href="https://twitter.com/share?text={{::$ctrl.article.title}};url=https://www.gazetadecaracas.com/#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"></a>
								<a class="sicon-f" href="https://www.facebook.com/sharer/sharer.php?u=https://www.gazetadecaracas.com/#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
								<a class="sicon-g" href="https://plus.google.com/share?url=https://www.gazetadecaracas.com/#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"></a>
							</div>


						<a class="post-gz" data-ng-href="#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}">
							<h2 class="post-title" data-ng-bind="$ctrl.article.title" style="margin-bottom:25px"></h2>
						</a>

						<div class="row" ng-if="$ctrl.article.images.thumb_380">
							<div class="col-md-4 col-xs-12 no-sp" data-ng-href="#!/articulo/{{::$ctrl.article.slug}}/{{::$ctrl.article.published_date}}">
								<img class='titular-gz no-mg' lazy-src="{{::$ctrl.article.images.thumb_380}}" animate-visible="true" animate-speed="0.5s"></img>
							</div>
							<div class="col-md-8 col-xs-12"  submit-required="true" ng-bind-html='($ctrl.article.resume | limitTo: 300)'></div>
						</div>

						<div class="row" ng-if="!$ctrl.article.images.thumb_380">
							<div class="col-md-12 col-xs-12"  submit-required="true" ng-bind-html='($ctrl.article.resume | limitTo: 300)'></div>
						</div>


						<div class="col-xs-12 col-md-12 no-sp">

							<span class="label label-default tag-gz sp" ng-repeat='tag in $ctrl.article.tags track by $index'>
								<a data-ng-href="#!/{{::tag.label}}">{{::tag.label}}
								</a>
							</span>

						</div>
				</div>


</article>
