<div class="hidden-xs col-sm-5 col-md-4 sidebar" style="margin-top:50px" ng-show="cargado">

    <div class="col-xs-12 col-sm-12 col-md-12 no-sp"
     style="margin-bottom: -100px;">
        <mostread></mostread>
        <banner banners="banners_B1"></banner>
        <hash hash="::etiqueta"></hash>
        <chart url="::link"></chart>
        <opinion tipo="1"></opinion>
        <videos tipo="1"></videos>
        <encuesta></encuesta>
        <category idcat="1" tipo="1"></category>
        <twitter></twitter>
        <category idcat="2" tipo="1" style="margin-bottom:10px;    float: left;
width: 100%;"></category>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 no-sp sticky" stickyfill top='100'>
      <div >
        <newsletter></newsletter>
        <banner banners="banners_B1"></banner>
        <div style="opacity:0.7" >
          <img style="width:100%" lazy-src="modules/core/img/gazeta-svg/gz-ccs-home.svg">
          <p style="text-align:center">
            Copyright © 2016 Aviso legal <br>
            Todos los derechos reservados
          </p>
        </div>
      </div>
    </div>
</div>
