<div class="form-control decipher-tags" data-ng-mousedown="selectArea()">

  <div class="decipher-tags-taglist">
    <span data-ng-repeat="tag in tags|orderBy:orderBy"
          data-ng-mousedown="$event.stopPropagation()">
<span class="decipher-tags-tag" data-ng-class="getClasses(tag)">{{tag.label}}
      <i class="glyphicon glyphicon-remove-circle" data-ng-click="removeTag(tag)"></i>
</span>
    </span>
  </div>

  <span class="wrapper" data-ng-show="toggles.inputActive">
    <input ng-if="!srcTags.length" type="text" data-ng-model="inputTag"
           class="decipher-tags-input"/>
    <!-- may want to fiddle with limitTo here, but it was inhibiting my results
    so perhaps there is another way -->
    <input ng-if="srcTags.length" type="text" data-ng-model="inputTag"
           class="decipher-tags-input"
           data-typeahead="stag as stag.label for stag in srcTags|filter:$viewValue|orderBy:orderBy"
           data-typeahead-input-formatter="{{typeaheadOptions.inputFormatter}}"
           data-typeahead-loading="{{typeaheadOptions.loading}}"
           data-typeahead-min-length="{{typeaheadOptions.minLength}}"
           data-typeahead-template-url="{{typeaheadOptions.templateUrl}}"
           data-typeahead-wait-ms="{{typeaheadOptions.waitMs}}"
           data-typeahead-delimiter="{{typeaheadOptions.delimiter}}"
           data-typeahead-editable="{{typeaheadOptions.allowsEditable}}"
           data-typeahead-on-select="add($item) && selectArea() && typeaheadOptions.onSelect()"/>

  </span>
</div>
