<div class="row" nv-file-drop="" uploader="uploader"  >
						<h2>Uploads Image</h2>
						<!-- Image loaded show -->

						<div class="col-md-12" ng-show="image_uploaded != undefined">
									<div class="col-md-8">
										 <img lazy-src="{{image_uploaded.thumb_380}}" alt="" class="img-responsive"/>
									</div>
								 <div class="col-md-4">
									 <div class="pull-right">
 										<button type="button" style="margin-bottom:15px;" class="btn btn-danger btn-xs" ng-click="uploader.queue[0].remove();reset();">
  											 <span class="glyphicon glyphicon-trash"></span> Remove
  									 </button>
 				          </div>
								 </div>
						</div>
						<!-- Close loaded show end -->
						<!-- Image Image loader system -->
		
							{{image_uploaded}}
							<div class="col-md-12" ng-show="image_uploaded == undefined">

									<h3>Select file</h3>

									<div ng-show="uploader.isHTML5">
											<!-- 3. nv-file-over uploader="link" over-class="className" -->
											<div class="well my-drop-zone" nv-file-over="" uploader="uploader">
													Drop File Here
											</div>

									</div>

									<!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
									<input type="file" nv-file-select="" uploader="uploader"/><br/>

							</div>

							<!-- Image table viewer -->
							<div class="col-md-12" style="margin-bottom: 40px">

										<table class="table">
												<thead>
														<tr>

																<th ng-show="uploader.isHTML5">Size</th>
																<th ng-show="uploader.isHTML5">Progress</th>
																<th>Status</th>
																<th>Actions</th>
														</tr>
												</thead>
												<tbody>
														<tr ng-repeat="item in uploader.queue">

																<td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
																<td ng-show="uploader.isHTML5">
																		<div class="progress" style="margin-bottom: 0;">
																				<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
																		</div>
																</td>

														</tr>
												</tbody>
										</table>
									</div>
									<!-- Image table viewer -->
							 </div>
							 <!-- Image Image loader system end -->
</div>
				<!-- Image input start -->
