<section class="row" data-ng-controller="SettingsController">
	<h3 class="col-md-12 text-center">Edit your profile</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username">
				</div>
				<div class="form-group">
					<label for="image">Image</label>
					<input type="text" id="image" name="image" class="form-control" data-ng-model="user.image" placeholder="Image">
				</div>
				<div class="form-group">
					<label for="username">Permiso</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="user.roles" disabled>
				</div>
				<div class="form-group">
					<label for="image">Description</label>
					<input type="text" id="description" name="description" class="form-control" data-ng-model="user.meta.description" placeholder="Description">
				</div>
				<div class="form-group">
					<h3>Social Media</h3>
					<label for="meta">Facebook user</label>
					<input type="text" id="facebook" name="facebook" class="form-control" data-ng-model="user.meta.facebook" placeholder="Facebook User">
					<label for="image">Twitter user</label>
					<input type="text" id="twitter" name="twitter" class="form-control" data-ng-model="user.meta.twitter" placeholder="Twitter User">
					<label for="image">Instagram user</label>
					<input type="text" id="instagram" name="instagram" class="form-control" data-ng-model="user.meta.instagram" placeholder="Instagram User">
					<label for="image">Website</label>
					<input type="text" id="website" name="website" class="form-control" data-ng-model="user.meta.website" placeholder="Website">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
