<section class="row" data-ng-controller="SettingsController" ng-init="iniciar()">
	<h3 class="col-md-12 text-center">HOME SETTINGS</h3>

		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
			<div class="row">
				<div class="col-md-7">

					<select ng-model="tipo.type"
							ng-options="cat as cat for cat in typeWidget">
					</select>

					<!-- Category Options-->
					<div ng-show='tipo.type == "category"'>
							<select ng-model="tipo.category"
									ng-options="cat as cat.label for cat in options" ng-show='tipo.type == "category"'>
							</select>
							<select ng-model="tipo.posicion"
									ng-options="cat as cat for cat in sideOpt" ng-show="tipo.category">
							</select>
							<select ng-model="tipo.count"
									ng-options="cat as cat for cat in countOpt" ng-show="tipo.posicion">
							</select>
					</div>

					<!-- TV Options-->
					<div ng-show='tipo.type == "tv"'>
						<input type = 'text' ng-model="tipo.input" ng-show='tipo.type == "tv"'>
						<select ng-model="tipo.posicion"
								ng-options="cat as cat for cat in sideOpt" ng-show="tipo.input">
						</select>
						<select ng-model="tipo.count"
								ng-options="cat as cat for cat in countOpt" ng-show="tipo.posicion">
						</select>
					</div>

					<!-- Twitter Options-->
					<div ng-show='tipo.type == "twitter"'>
							<select ng-model="tipo.count"
									ng-options="cat as cat for cat in countOpt" ng-show="tipo.type == 'twitter'">
							</select>
					</div>

					<!-- Popular Options-->
					<div ng-if='tipo.type == "popular"'>
						<input type = 'text' ng-model="tipo.input = 'popular'" ng-show="tipo.type == 'popular'" readonly>
							<select ng-model="tipo.count"
									ng-options="cat as cat for cat in countOpt" ng-show="tipo.type == 'popular'">
							</select>
					</div>

					<!-- Likes Options-->
					<div ng-if='tipo.type == "likes"'>
						<input type = 'text' ng-model="tipo.input = 'likes'" ng-show='tipo.type == "likes"' readonly>
							<select ng-model="tipo.count"
									ng-options="cat as cat for cat in countOpt" ng-show="tipo.type == 'likes'">
							</select>
					</div>

					<!-- Hashtag Options-->
					<div ng-show='tipo.type == "hashtag"'>
						<input type = 'text' ng-model="tipo.input" ng-show='tipo.type == "hashtag"'>
						<select ng-model="tipo.posicion"
								ng-options="cat as cat for cat in sideOpt" ng-show="tipo.input">
						</select>
						<select ng-model="tipo.count"
								ng-options="cat as cat for cat in countOpt" ng-show="tipo.posicion">
						</select>
					</div>

					<!-- User Options-->
					<div ng-show='tipo.type == "user"'>
						<input type = 'text' ng-model="tipo.input" ng-show='tipo.type == "user"'>
						<select ng-model="tipo.posicion"
								ng-options="cat as cat for cat in sideOpt" ng-show="tipo.input">
						</select>
						<select ng-model="tipo.count"
								ng-options="cat as cat for cat in countOpt" ng-show="tipo.posicion">
						</select>
					</div>

					<!-- Image Day Options-->
					<div ng-show='tipo.type == "imageday"'>
						<select ng-model="tipo.posicion"
								ng-options="cat as cat for cat in sideOpt" ng-show="tipo.type == 'imageday'">
						</select>
					</div>

					<!-- Stock Options-->
					<div ng-show='tipo.type == "stock"'>
						<select ng-model="tipo.posicion"
								ng-options="cat as cat for cat in sideOpt" ng-show="tipo.type == 'stock'">
						</select>
						<input type = 'text' ng-model="tipo.input" placeholder="Símbolo Gráfico" ng-show='tipo.posicion'>
						<div ng-show='tipo.input'>
							<div>
								<input type = 'text' ng-model="symbol" placeholder="Símbolos">
								<i class="glyphicon glyphicon-plus" ng-click="pushArray(symbol)">
							</div>
								<ul>
									<li ng-repeat="element in tipo.arrayElement track by $index">{{element}}</li>
								</ul>
						</div>
					</div>

					<!-- Custom Options-->
					<div ng-show='tipo.type == "custom"'>
						<input type = 'text' ng-model="tipo.input" ng-show='tipo.type == "custom"'>
						<div ng-show='tipo.input'>
							<input type = 'text' ng-model="symbol" >
							<i class="glyphicon glyphicon-plus" ng-click="pushArray(symbol)">
								<ul>
									<li ng-repeat="element in tipo.arrayElement track by $index">{{element}}</li>
								</ul>
						</div>
						<select ng-model="tipo.posicion"
								ng-options="cat as cat for cat in sideOpt" ng-show="tipo.arrayElement.length > 0">
						</select>
					</div>

					<!-- Top Options-->
					<div ng-show='tipo.type == "top"'>
						<div ng-show='tipo.type == "top"'>
							<input type = 'text' ng-model="symbol" >
							<i class="glyphicon glyphicon-plus" ng-click="pushArray(symbol)">
								<ul>
									<li ng-repeat="element in tipo.arrayElement track by $index">{{element}}</li>
								</ul>
						</div>
					</div>

					<!-- Poll Options-->
					<div ng-show='tipo.type == "poll"'>
						<input type = 'text' ng-model="tipo.input" ng-show='tipo.type == "poll"'>
						<select ng-model="tipo.posicion"
								ng-options="cat as cat for cat in sideOpt" ng-show="tipo.input">
						</select>
					</div>

					<!-- Banner Options-->
					<div ng-show='tipo.type == "banner"'>
						<input type = 'text' ng-model="tipo.input" ng-show='tipo.type == "banner"'>
						<select ng-model="tipo.posicion"
								ng-options="cat as cat for cat in sideOpt" ng-show="tipo.input">
						</select>
					</div>


					<button type="button" ng-repeat='box in boxOpt' ng-click='addWidget(tipo,box)' ng-show="
					(tipo.type == 'category' && tipo.count != undefined) ||
					(tipo.type == 'newsletter') ||
					(tipo.type == 'tv' && tipo.count != undefined) || (tipo.type == 'twitter' && tipo.count != undefined)
					|| (tipo.type == 'popular' && tipo.count != undefined) || (tipo.type == 'likes' && tipo.count != undefined)
					|| (tipo.type == 'hashtag' && tipo.count != undefined) || (tipo.type == 'user' && tipo.count != undefined)
					|| (tipo.type == 'imageday' && tipo.posicion != undefined) || (tipo.type == 'stock' && tipo.arrayElement.length > 0)
					|| (tipo.type == 'custom' && tipo.arrayElement.length > 0) || (tipo.type == 'top' && tipo.arrayElement.length > 0)
					|| (tipo.type == 'poll' && tipo.posicion != undefined) || (tipo.type == 'banner' && tipo.posicion != undefined)
					">{{box}}</button>

				</div>

				<div class="col-md-5">
					<code>
						{{tipo}}
					</code>
				</div>

			</div>

				<div class="typesDemo row col-m-12">

					<div ng-repeat="list in lists" class="col-md-6" ng-class="{'clear': $index==2}">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h3 class="panel-title">{{list.label}}</h3>
							</div>
							<div class="panel-body" ng-include="'modules/users/views/settings/types.html'">
							</div>
						</div>
					</div>

					<div class="form-group">
						<input ng-click="sendfile()" class="btn btn-success" value="Send Config">
					</div>

				</div>

				<div class="col-md-12">
					<code>
						{{lists}}
					</code>
				</div>

		</form>

</section>
