<ul dnd-list="list.widget"
    dnd-allowed-types="list.allowedTypes">

    <li ng-repeat="section in list.widget"
        dnd-draggable="section"
        dnd-type="section.type"
        dnd-disable-if="section.type == 'unknown'"
        dnd-moved="list.widget.splice($index, 1)"
        dnd-effect-allowed="move"
        class="background-{{section.posicion}}"
        >
        <dnd-nodrag>
          <div dnd-handle class="handle">:::</div>
          <div class="name">
              <label type="text"  class="background-{{section.posicion}}">{{section.type}} - {{section.input}}{{section.category.label}} <span ng-show='section.input || section.category.label'>-</span> {{section.posicion}}</label>
          </div>

          <div class="iconset">
            <i class="glyphicon glyphicon-triangle-bottom" style="margin-right:5px"></i>
            <i class="glyphicon glyphicon-remove" data-ng-click="removeItem($index,list.label)"></i>
          </div>

        </dnd-nodrag>
    </li>

    <li class="dndPlaceholder">
        Drop any <strong>{{list.allowedTypes.join(' or ')}}</strong> here
    </li>

</ul>
